.tooltip {
	position: relative;
}
.tooltipText {
	width: max-content;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 6px 10px;
	border-radius: 2px;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 10px);
	border: 1px solid rgb(244, 67, 54);
	pointer-events: none;

	font-size: 16px;
}
.tooltipText::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent rgb(244, 67, 54) transparent;
}

.tooltip:hover .tooltipText {
	visibility: visible;
	opacity: 1;
	transition: all 0.1s;
}
